* {margin: 0; padding: 0; outline: 0;}


body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #e5e5e5;
	font-size: 12px;
	background:#bfbfbf;

	
}


h1, h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin:0 0 15px 0;
}


h1 {
	font-size: 36px;
	letter-spacing: -1px;
	line-height: 100%;
}


h2 {
	font-size: 24px;
}


p {
	margin: 0 0 15px 0;
}

a {
	color: #3e3e3e;
}


.aboutPara{
	float: left;
	position: absolute;
	height: 400px;
	width: 500px;
}

.photo{
	float: right;
	position: relative;

}

.clear {
	clear: both;
}
.wrap {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;

}



.section {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
	height: 500px;
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.inner:after {
	  content: "";
	  display: table;
	  clear: both;
}


.subMenu {
	height: 50px;
	z-index: 1000;
	width: 100%;
	background: #0977bc;
}

.subMenu .inner {
	padding:0;
	font-weight: 400;
	margin: 0 auto;
}


.subNavBtn {
	display: block;
	height: 35px;
	width: 10%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
	
	color: #fff;
}
.subMenu a:hover {
	background: #1783c7;
}

.active {
	background: #25aae1;
}
.end {
	margin: 0;
}




/* SECTIONS */
.sTop {
	background-image: url('../images/project1.png');
	background-repeat: no-repeat;
	background-size: cover; 
	min-height: 130px;
	padding: 50px 0;
	height: 450px;
	color: #000;
	
}

.s1 {
	background:#184764;
	color:#fff;
	
}


.s2 {
	background: #bce1f1;
	color: #000;
}
.s2 a {
	color: #fff;
}

.s3 {
	background: #1b83b3;
}



.s6 {
	background: #161616;
}


.demo-2 {
    position:relative;
    width:300px;
    height:280px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:rgba(26,76,110,0.5)
}
.demo-2 p,.demo-2 h2 {
    color:#fff;
    padding:10px;
    top:20px;
    position:relative
}
.demo-2 p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.demo-2 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato';
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-96px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
} 

h1.title{
	font-weight: bold;
	font-size: 60px;
	font-family: 'Helvetica Neue';
	color: #0977bc;
}

h2.subtitle{
	font-family: 'Helvetica Neue';
	color: #0977bc;
}


.view-first .mask {
		   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
		   filter: alpha(opacity=0);
		   opacity: 0;
		   background-color: rgba(219,127,8, 0.7);
		   -webkit-transition: all 0.4s ease-in-out;
		   -moz-transition: all 0.4s ease-in-out;
		   -o-transition: all 0.4s ease-in-out;
		   -ms-transition: all 0.4s ease-in-out;
		   transition: all 0.4s ease-in-out;
		}
		.view-first h2 {
		   -webkit-transform: translateY(-100px);
		   -moz-transform: translateY(-100px);
		   -o-transform: translateY(-100px);
		   -ms-transform: translateY(-100px);
		   transform: translateY(-100px);
		   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
		   filter: alpha(opacity=0);
		   opacity: 0;
		   -webkit-transition: all 0.2s ease-in-out;
		   -moz-transition: all 0.2s ease-in-out;
		   -o-transition: all 0.2s ease-in-out;
		   -ms-transition: all 0.2s ease-in-out;
		   transition: all 0.2s ease-in-out;
		}
		.view-first p {
		   -webkit-transform: translateY(100px);
		   -moz-transform: translateY(100px);
		   -o-transform: translateY(100px);
		   -ms-transform: translateY(100px);
		   transform: translateY(100px);
		   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
		   filter: alpha(opacity=0);
		   opacity: 0;
		   -webkit-transition: all 0.2s linear;
		   -moz-transition: all 0.2s linear;
		   -o-transition: all 0.2s linear;
		   -ms-transition: all 0.2s linear;
		   transition: all 0.2s linear;
		}
		.view-first:hover img {
		   -webkit-transform: scale(1.1,1.1);
		   -moz-transform: scale(1.1,1.1);
		   -o-transform: scale(1.1,1.1);
		   -ms-transform: scale(1.1,1.1);
		   transform: scale(1.1,1.1);
		}
		.view-first a.info {
		   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
		   filter: alpha(opacity=0);
		   opacity: 0;
		   -webkit-transition: all 0.2s ease-in-out;
		   -moz-transition: all 0.2s ease-in-out;
		   -o-transition: all 0.2s ease-in-out;
		   -ms-transition: all 0.2s ease-in-out;
		   transition: all 0.2s ease-in-out;
		}
		.view-first:hover .mask {
		   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
		   filter: alpha(opacity=100);
		   opacity: 1;
		}
		.view-first:hover h2,
		.view-first:hover p,
		.view-first:hover a.info {
		   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
		   filter: alpha(opacity=100);
		   opacity: 1;
		   -webkit-transform: translateY(0px);
		   -moz-transform: translateY(0px);
		   -o-transform: translateY(0px);
		   -ms-transform: translateY(0px);
		   transform: translateY(0px);
		}
		.view-first:hover p {
		   -webkit-transition-delay: 0.1s;
		   -moz-transition-delay: 0.1s;
		   -o-transition-delay: 0.1s;
		   -ms-transition-delay: 0.1s;
		   transition-delay: 0.1s;
		}
		.view-first:hover a.info {
		   -webkit-transition-delay: 0.2s;
		   -moz-transition-delay: 0.2s;
		   -o-transition-delay: 0.2s;
		   -ms-transition-delay: 0.2s;
		   transition-delay: 0.2s;
		}
				
		.view {
		   width: 320px;
		   height: 280px;
		 
		   padding-right: 20px;
		   padding-bottom: 25px;
		   margin: 10px;
		   float: left;
		   border: 10px solid #fff;
		   overflow: hidden;
		   position: relative;
		   text-align: center;
		   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
		   -moz-box-shadow: 1px 1px 2px #e6e6e6;
		   box-shadow: 1px 1px 2px #e6e6e6;
		   cursor: default;
		   background: #fff url(../images/bgimg.jpg) no-repeat;
		}
		.view .mask,.view .content {
		   width: 320px;
		   height: 280px;
		   
		   padding-right: 20px;
		   padding-bottom: 25px;
		   position: absolute;
		   overflow: hidden;
		   top: 0;
		   left: 0;
		}
		.view img {
		   display: block;
		   position: relative;
		}
		.view h2 {
		   text-transform: uppercase;
		   color: #fff;
		   text-align: center;
		   position: relative;
		   font-size: 17px;
		   padding: 10px;
		   background: rgba(0, 0, 0, 0.9);
		   margin: 20px 0 0 20px;
		}
		.view p {
		   font-family: 'Helvetica Neue';
		   font-style: italic;
		   font-size: 16px;
		   position: relative;
		   color: #fff;
		   padding: 10px 20px 20px;
		   text-align: center;
		}
		.view a.info {
		   display: inline-block;
		   text-decoration: none;
		   padding: 7px 14px;
		   background: #000;
		   color: #fff;
		   text-transform: uppercase;
		   -webkit-box-shadow: 0 0 1px #000;
		   -moz-box-shadow: 0 0 1px #000;
		   box-shadow: 0 0 1px #000;
		}
		.view a.info: hover {
		   -webkit-box-shadow: 0 0 5px #000;
		   -moz-box-shadow: 0 0 5px #000;
		   box-shadow: 0 0 5px #000;
		}

.entry h4 { 
		   color: white; 
		   font: bold 18px/45px Helvetica, Sans-Serif; 
		   letter-spacing: -1px;  
		   background: rgb(0, 0, 0); /* fallback color */
		   background: rgba(0, 0, 0, 0.8);
		   padding: 10px; 
		   position: absolute; 
		   top: 1px; 
		   left: 0; 
		   width: 80%; 
		   margin-left: 50px;
}
